.mainBtn {

  background: var(--secondary-color);
  padding: 7px 16px;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 14.4px;
  outline: none;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  color: #fff;
  cursor: pointer;

}
