/* You can add global styles to this file, and also import other style files */
@import "./variables.scss";
// @import "@fontsource/noto-sans-arabic/400-italic.css";

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Arabic";
}

body {
  background: #F8F8F8;
  font-family: "Noto Sans Arabic";

}
